svg {
    display: block;
    margin: 0 auto;
  }
  
  circle {
    stroke: #fff;
    fill: #34495e;
    stroke-width: 4;
  }
  
  line {
    stroke: #fff;
    stroke-width: 4;
  }
  /* Media queries for tablets */
@media only screen and (max-width: 768px) {
    svg {
      width: 80%; /* Adjust the width based on your design preferences */
    }
  }
  
  /* Media queries for mobile */
  @media only screen and (max-width: 480px) {
    svg {
      width: 100%; /* Make the SVG full width on smaller screens */
    }
  }
  